* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye padding y border en el tamaño del elemento */
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.header {
    background-color: #212121;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
}

.header-actions {
    display: flex;
    gap: 10px;
}

mat-icon {
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Espacio entre la imagen y el título */
}

.header-logo {
    width: 40px; /* Ajusta el tamaño de la imagen según prefieras */
    height: auto;
    margin-left: 90px;
}

.title {
    font-size: 2.5rem; /* Ajusta el tamaño del texto si es necesario */
    background: linear-gradient(180deg, yellow, orange); /* Degradado de amarillo a naranja */
    -webkit-background-clip: text; /* Compatibilidad con navegadores basados en WebKit */
    background-clip: text; /* Propiedad estándar para otros navegadores */
    color: transparent; /* Hace que el degradado llene el texto */
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
    }

    .header-actions {
        margin-top: 10px;
        justify-content: center;
    }
}