/* Estructura general */
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f2f5;
}

/* Header */
app-header {
  height: 60px;
  background-color: #2a2d3e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contenedor del contenido principal y sidebar */
.content-wrapper {
  display: flex;
  flex: 1;
  background-color: #f0f2f5;
}

/* Sidebar */
app-sidebar {
  width: 250px;
  background-color: #2a2d3e;
  height: auto;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

/* Contenido principal */
.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto; /* Permite scroll si es necesario */
}

/* Footer */
app-footer {
  background-color: #2a2d3e;
  color: white;
  text-align: center;
  padding: 15px 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
