/* Estructura general */
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f2f5;
  overflow-x: hidden; /* Asegura que el contenido no se desborde horizontalmente */
}



/* Contenedor del contenido principal y sidebar */
.content-wrapper {
  display: flex;
  flex: 1;
  background-color: #f0f2f5;
  overflow-x: hidden; /* Asegura que el contenido no se desborde horizontalmente */
}

/* Sidebar */
app-sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #00492d;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

app-header{
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Contenido principal */
.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
  min-height: calc(100vh - 60px); /* 60px es el alto del header */
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden; /* Asegura que el contenido no se desborde horizontalmente */
}


/* Footer */
app-footer {
  background-color: #2a2d3e;
  color: white;
  text-align: center;
  padding: 15px 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
