html, body {
    height: 100%; /* Asegura que el html y el body ocupen toda la altura */
    margin: 0; /* Eliminar márgenes por defecto */
}

body {
    margin: 0; /* Eliminar márgenes por defecto del body */
    height: 100vh; /* Asegurarse de que el body ocupe toda la altura de la ventana */
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna */
}

.container {
    flex: 1; /* Permite que el contenedor ocupe el espacio restante */
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna */
    justify-content: flex-start; /* Alínea el contenido desde la parte superior */
    align-items: center; /* Centra horizontalmente */
    background-color: #e0e0e0; /* Fondo gris claro */
    height: calc(100% - 60px); /* Resta la altura del header */
    padding-top: 70px; /* Añade espacio superior para el contenido */
    padding-bottom: 20px; /* Añade espacio inferior para separar del footer */
}

.header {
    background-color: #616161; /* Fondo gris oscuro para el header */
    color: white; /* Color del texto */
    padding: 10px 0; /* Espaciado en el header */
    text-align: center; /* Centra el texto */
    width: 100%; /* Asegura que use todo el ancho */
    position: fixed; /* Fijo en la parte superior */
    top: 0; /* Posición en la parte superior */
    left: 0; /* Alineación a la izquierda */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.verify-section {
    text-align: center; /* Centra el texto dentro de la sección de verificación */
    margin-top: 0; /* Eliminar margen superior */
    width: 100%; /* Asegura que use todo el ancho */
}

.verify-section {
    margin: 20px auto; /* Espaciado en la parte superior e inferior, centrado horizontalmente */
    background-color: #bdbdbd; /* Fondo gris claro para el formulario */
    padding: 20px; /* Padding adicional para el formulario */
    border-radius: 8px; /* Bordes redondeados */
    max-width: 400px; /* Ancho máximo de la tarjeta */
    width: 90%; /* Cambia a un ancho del 90% para el responsivo */
}

.footer {
    background-color: #616161; /* Fondo gris oscuro para el footer */
    color: white; /* Color del texto */
    padding: 10px 0; /* Espaciado en el footer */
    text-align: center; /* Centra el texto */
    width: 100%; /* Asegura que use todo el ancho */
    margin-top: 20px; /* Espacio superior para separar del contenido */
    position: relative; /* Cambiar a relative */
    margin-top: auto; /* Empuja el footer hacia el final del contenedor */

}

.error-style {
    color: red; /* Color para mensajes de error */
}

.progressIndicator {
    margin-top: 20px; /* Espaciado superior para el spinner */
}

mat-card {
    padding: 20px; /* Padding adicional para el formulario */
    margin: 20px auto; /* Espaciado en la parte superior e inferior, centrado horizontalmente */
    border-radius: 8px;
    background-color: #9e9e9e; /* Fondo gris más oscuro */
    max-width: 400px; /* Ancho máximo de la tarjeta */
    width: 100%; /* Asegura que use todo el ancho hasta el máximo */
}