<div class="container">
    <header class="header">
        <h1>SportMatch</h1>
    </header>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>

    <section class="verify-section">
        <h2>Verificar Correo</h2>
        <button mat-raised-button color="primary" routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Volver al Menu</span>
        </button>
        <hr>
        <mat-card *ngIf="!(user$ | async)">
            <mat-icon>do_not_disturb</mat-icon>
            <span>El usuario no ha iniciado sesión -- El usuario necesita iniciar sesión para reenviar la verificación del correo</span>
        </mat-card>

        <mat-card *ngIf="user$ | async as user">
            <p>La verificación de correo se enviará a <span>{{ email }}</span>.</p>

            <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                <span>{{ firebaseErrorMessage }}</span>
            </div>

            <button mat-raised-button color="primary" [disabled]="mailSent" (click)="resendVerificationEmail()">Reenviar verificación de correo</button>
            <div *ngIf="mailSent">
                <p>El correo ha sido enviado!</p>
                <button mat-raised-button color="primary" routerLink="/home">
                    <mat-icon>home</mat-icon>
                    <span>Volver al Menu</span>
                </button>
            </div>
        </mat-card>

        <div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none'">
            <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
    </section>

    <footer class="footer">
        <p>&copy; 2024 SportMatch. Todos los derechos reservados.</p>
    </footer>
</div>
