<div class="container">



    <div class="content">


    <!-- Main Content -->
      <main class="main-content">
        <h2>Gestionar Deportes</h2>

        <!-- Formulario para agregar/modificar deportes -->
        <form [formGroup]="deporteForm" (ngSubmit)="guardarDeporte()">
          <mat-form-field appearance="outline">
            <mat-label>Nombre del Deporte</mat-label>
            <input matInput formControlName="nombre" placeholder="Nombre del Deporte">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcion" placeholder="Descripción del Deporte">
          </mat-form-field>

          <button mat-raised-button class="btn-orange" type="submit" [disabled]="deporteForm.get('nombre')?.invalid || deporteForm.invalid">
            {{ isEditMode ? 'Actualizar Deporte' : 'Agregar Deporte' }}
          </button>
        </form>


        <!-- Tabla de deportes -->
        <table mat-table [dataSource]="sports" class="mat-elevation-z8 custom-table">
          <!-- Nombre del deporte -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre del Deporte </th>
            <td mat-cell *matCellDef="let sport"> {{ sport.nombre }} </td>
          </ng-container>

          <!-- Descripción del deporte -->
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let sport"> {{ sport.descripcion || 'Sin descripción' }} </td>
          </ng-container>


          <!-- Botones de Acción en la Tabla -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let sport">
              <button mat-icon-button class="delete-button" (click)="eliminarDeporte(sport.id)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button class="edit-button" (click)="editarDeporte(sport)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>



            <!-- Encabezados y filas de la tabla -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </main>
    </div>


  </div>
