<div class="container">

  <app-header></app-header>

  <div class="content">
    <aside class="sidebar">
      <section class="button-section">
          <a routerLink="/home" routerLinkActive="active-link" class="sidebar-link">
              <mat-icon>admin_panel_settings</mat-icon>
              <span>Admin Dashboard</span>
          </a>
          <a routerLink="/deportes" routerLinkActive="active-link" class="sidebar-link">
              <mat-icon>sports_soccer</mat-icon>
              <span>Gestionar Deportes</span>
          </a>
          <a routerLink="/eventos" routerLinkActive="active-link" class="sidebar-link">
              <mat-icon>event</mat-icon>
              <span>Gestionar Eventos</span>
          </a>
          <a routerLink="/sectores" routerLinkActive="active-link" class="sidebar-link">
              <mat-icon>map</mat-icon>
              <span>Gestionar Sectores</span>
          </a>
          <a routerLink="/usuarios" routerLinkActive="active-link" class="sidebar-link">
            <mat-icon>manage_accounts</mat-icon>
            <span>Gestionar Usuarios</span>
        </a>
      </section>
    </aside>

    <main class="main-content">

  <div class="form-stepper-container">
    <!-- Stepper vertical -->
    <div class="stepper">
      <div class="step">
        <div class="circle">1</div>
      </div>
      <div class="line"></div>
      <div class="step">
        <div class="circle">2</div>
      </div>
      <div class="line"></div>
      <div class="step">
        <div class="circle">3</div>
      </div>
    </div>

    <!-- Contenedor del formulario -->
    <div class="form-container">
      <!-- Asegúrate de que no haya formularios anidados y que esta etiqueta abra y cierre correctamente -->
      <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
        <!-- Paso 1: Selección de sector -->
        <div class="step-content" [ngClass]="{'active-step': currentStep === 1}">
          <h1 style="text-align: center;">Sectores</h1>
          <br>
          <div class="form-grid">
            <div class="form-fields">
              <div>
                <select id="idSector" [(ngModel)]="newEvento.idSector" name="idSector" (change)="onSectorChange($event)" required>
                  <option value="" disabled selected>Seleccione un sector</option>
                  <option *ngFor="let sector of sectores" [value]="sector.idSector">
                    {{ sector.nombre }}
                  </option>
                </select>
              </div>

              <div>
                <input
                  type="date"
                  id="fecha"
                  [(ngModel)]="selectedDate"
                  name="fecha"
                  placeholder="Seleccione una fecha"
                  required
                  (change)="onDateChange()"
                  [min]="minDate"
                  [max]="maxDate"
                />
              </div>

              <div *ngIf="horariosDisponibles.length > 0">
                <div class="horarios-container">
                  <button
                    type="button"
                    class="horarioss"
                    *ngFor="let horario of horariosDisponibles"
                    [disabled]="!horario.disponible"
                    [ngClass]="{'selected': horario === selectedHorario, 'not-available': !horario.disponible}"
                    (click)="selectHorario(horario)">
                    {{ horario.inicio }} - {{ horario.fin }}
                  </button>
                </div>
              </div>
            </div>

            <div class="sector-image-container" *ngIf="selectedSectorImage">
              <img [src]="selectedSectorImage" alt="Imagen del sector" />
            </div>
          </div>
        </div>

        <!-- Paso 2: Título, Descripción, Creador, Estado -->
        <div class="step-content" [ngClass]="{'active-step': currentStep === 2}">
          <h1 style="text-align: center;">Planificar evento</h1>
          <br>
          <div>
            <input id="titulo" [(ngModel)]="newEvento.titulo" name="titulo" placeholder="Título" required />
          </div>

          <div>
            <textarea id="descripcion" [(ngModel)]="newEvento.descripcion" name="descripcion" placeholder="Descripción" required></textarea>
          </div>

          <div>
            <input id="creator" [(ngModel)]="newEvento.creator" name="creator" placeholder="Organizador" required />
          </div>

          <div>
            <input
              type="number"
              id="capacidadAlumnos"
              [(ngModel)]="newEvento.capacidadAlumnos"
              name="capacidadAlumnos"
              placeholder="Capacidad de Participantes"
              required
              min="1"
            />
          </div>

          <div class="checkbox-container">
            <label for="status">
              <h4>Visible</h4>
            </label>
            <input id="status" type="checkbox" [(ngModel)]="newEvento.status" name="status" />
          </div>
        </div>


        <!-- Paso 3: Visualización del Evento -->
        <div class="step-content" [ngClass]="{'active-step': currentStep === 3}">
          <div class="card-header">
            <h1 style="text-align: center;">Visualización de evento</h1>
          </div>
          <div class="card">
            <div class="card-content">
              <!-- Imagen del sector seleccionado -->
              <div class="sector-image-preview" *ngIf="selectedSectorImage">
                <img [src]="selectedSectorImage" alt="Imagen del sector seleccionado" />
              </div>
              <br><br>
              <div class="sector-horario">
                <p><strong>Sector: </strong>{{ getSectorNombre(newEvento.idSector) }}</p>
                <p><strong>Horario: </strong>{{ selectedHorario ? (selectedHorario.inicio + ' - ' + selectedHorario.fin) : 'No seleccionado' }}</p>
              </div>
              <br>
              <h3 class="card-header">{{ newEvento.titulo }}</h3>
              <p><strong>Descripción:</strong><br>{{ newEvento.descripcion }}</p>
              <br>
              <div class="sector-horario">
                <p>{{ newEvento.creator }}</p>
                <p><strong>Visible:</strong> {{ newEvento.status ? 'Sí' : 'No' }}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Botones de navegación -->
        <div class="step-navigation">
          <button type="button" (click)="previousStep()" [disabled]="currentStep === 1">Anterior</button>
          <button type="button" (click)="nextStep()" [disabled]="!canProceedToNextStep()">Siguiente</button>
          <button type="submit" [disabled]="eventForm.invalid || currentStep !== 3">Crear Evento</button>
        </div>
      </form> <!-- Esta es la única etiqueta de cierre de form -->
    </div>
  </div>

  <br><br>


  <h1 class="tituloo">Lista de eventos</h1>

  <div class="eventos-list">
    <!-- Lista de eventos -->
    <div class="card" *ngFor="let evento of eventos">
      <div class="card-image">
        <img [src]="evento.image" alt="{{ evento.titulo }}" />
      </div>
      <div class="card-info">
        <h2>{{ evento.titulo }}</h2>
        <!-- Botón para abrir pop-up -->
        <button (click)="showDetails(evento)">Más información</button>
      </div>
    </div>
  </div>

  <!-- Pop-up de detalles del evento -->
  <div *ngIf="selectedEvento" class="popup-overlay">
    <div class="popup">
      <button class="close-popup" (click)="closeDetails()">Cerrar</button>
      <h1>{{ selectedEvento?.titulo }}</h1>
      <div class="details-container">
        <!-- Imagen del sector seleccionado -->
        <div class="image-section">
          <img [src]="selectedEvento?.image || 'placeholder-image-url.jpg'" alt="{{ selectedEvento?.titulo }}" />
          <div class="image-info">
            <p><strong>Creador:</strong> {{ selectedEvento?.creator }}</p>
            <p><strong>Sector:</strong> {{ selectedEvento?.sectorNombre }}</p>
            <p><strong>Fecha Reservada:</strong> {{ selectedEvento?.fechaReservada }}</p>
            <p><strong>Participantes: </strong>{{selectedEvento?.participantes}}</p>
          </div>
        </div>

        <!-- Detalles del evento -->
        <div class="info-section">
          <p><strong>Descripción:</strong> {{ selectedEvento?.descripcion }}</p>
          <p class="visible"><strong>Visible:</strong> {{ selectedEvento?.status ? 'Sí' : 'No' }}</p>
        </div>
      </div>

      <!-- Botones de acción en el pop-up -->
      <div class="action-buttons">
        <button (click)="editEvent(selectedEvento)">Editar</button>
        <button *ngIf="selectedEvento.idSector || selectedEvento.fechaReservada" (click)="removeReservation(selectedEvento)">
          Eliminar Reserva
        </button>
      </div>
    </div>
  </div>
</main>

  </div>

  <app-footer></app-footer>
</div>
