<div class="container">
    <header class="header">
        <h1>SportMatch</h1>
    </header>

    <section class="button-section">
        <h2>Acciones de la cuenta</h2>
        <button mat-raised-button color="primary" routerLink="/login">
            <mat-icon>login</mat-icon>
            <span>Iniciar Sesion</span>
        </button>
        <button mat-raised-button color="primary" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesion</span>
        </button>
        <button mat-raised-button color="primary" routerLink="/registro">
            <mat-icon>person_add</mat-icon>
            <span>Registrarse</span>
        </button>
        <button mat-raised-button color="primary" routerLink="/recuperar-contrasena">
            <mat-icon>help_outline</mat-icon>
            <span>Recuperar Contraseña</span>
        </button>
        <button mat-raised-button color="primary" routerLink="/verificarEmail">
            <mat-icon>help_outline</mat-icon>
            <span>Reenviar Verificacion de Email</span>
        </button>
    </section>

    <section class="button-section">
        <h2>Acciones administrativas</h2>
        <button mat-raised-button color="primary" routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </button>
        <button mat-raised-button color="primary" routerLink="/admin">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Admin Dashboard</span>
        </button>
    </section>

    <div class="status-section">
        <mat-card class="status-card" *ngIf="(user$ | async)">
            <mat-icon>check_circle</mat-icon>
            <span>El usuario ha iniciado sesion</span>
        </mat-card>
        <mat-card class="status-card" *ngIf="!(user$ | async)">
            <mat-icon>do_not_disturb</mat-icon>
            <span>El usuario no ha iniciado sesion</span>
        </mat-card>
    </div>

    <footer class="footer">
        <p>&copy; 2024 SportMatch. Todos los derechos reservados.</p>
    </footer>
</div>
