.button-section {
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

mat-card {
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
}

.status-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Sección de estadísticas */
.stats-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}

.stats-cards mat-card {
    width: 200px;
    text-align: center;
    background-color: #ececec;
}

.graphics {
    background-color: #ececec;
}


h2 {
    text-align: center;
    color: black;
}

.graphic-cards{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* END SIDEBAR CSS */

@media (max-width: 600px) {

    button {
        width: 100%;
    }

    .header {
        flex-direction: column;
    }

    .header-actions {
        margin-top: 10px;
        justify-content: center;
    }

    .quick-access-buttons {
        flex-direction: column; /* Cambia los botones a vertical en pantallas pequeñas */
        gap: 10px; /* Menor espacio entre los botones en pantallas pequeñas */
    }

    .stats-cards {
        flex-direction: column; /* Cambia las tarjetas de estadísticas a vertical en pantallas pequeñas */
    }
}
