<form (ngSubmit)="addSector()">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" [(ngModel)]="newSector.nombre" name="nombre" required>

  <label for="image">Imagen:</label>
  <input type="file" id="image" (change)="onFileChange($event)" required>

  <label for="horarios">Horarios:</label>
  <input type="text" [(ngModel)]="horarioInput" name="horarios" placeholder="Ej: lunes: 12 a 2, martes: 2 a 4" />
  <button type="button" (click)="addHorarios()">Agregar Horario</button>

  <div *ngFor="let h of newSector.horarios; let i = index">
    <p>{{ h }} <button type="button" (click)="removeHorario(i)">Eliminar</button></p>
  </div>

  <label for="description">Descripción:</label>
  <input type="text" id="description" [(ngModel)]="newSector.description" name="description">

  <label for="capacidad">Capacidad:</label>
  <input type="number" id="capacidad" [(ngModel)]="newSector.capacidad" name="capacidad">

  <button type="submit">Agregar Sector</button>
</form>


<br><br><br><br>

<div class="sector-card" *ngFor="let sector of sectores$ | async">
  <div class="card">
    <img [src]="sector.image" alt="{{ sector.nombre }} image" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{ sector.nombre }}</h5>
      <p class="card-text">{{ sector.description }}</p>
      <p class="card-text"><strong>Horarios:</strong></p>
      <ul>
        <li *ngFor="let horario of sector.horarios">{{ horario }}</li>
      </ul>
      <p class="card-text"><strong>Capacidad:</strong> {{ sector.capacidad }}</p>
      <button (click)="deleteSector(sector.idSector)" class="btn btn-danger">Eliminar</button>
      <button (click)="editSector(sector)" class="btn btn-primary">Editar</button>

    </div>
  </div>
</div>
