<aside class="sidebar">
  <section class="button-section">
      <a routerLink="/home" routerLinkActive="active-link" class="sidebar-link">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Admin Dashboard</span>
      </a>
      <a routerLink="/deportes" routerLinkActive="active-link" class="sidebar-link">
          <mat-icon>sports_soccer</mat-icon>
          <span>Gestionar Deportes</span>
      </a>
      <a routerLink="/eventos" routerLinkActive="active-link" class="sidebar-link">
          <mat-icon>event</mat-icon>
          <span>Gestionar Eventos</span>
      </a>
      <a routerLink="/sectores" routerLinkActive="active-link" class="sidebar-link">
          <mat-icon>map</mat-icon>
          <span>Gestionar Sectores</span>
      </a>
      <a routerLink="/usuarios" routerLinkActive="active-link" class="sidebar-link">
        <mat-icon>manage_accounts</mat-icon>
        <span>Gestionar Usuarios</span>
    </a>
    <a routerLink="/ranking" routerLinkActive="active-link" class="sidebar-link">
        <mat-icon>leaderboard</mat-icon>
        <span>Ranking</span>
    </a>
    <a routerLink="/evento-list" routerLinkActive="active-link" class="sidebar-link">
        <mat-icon>leaderboard</mat-icon>
        <span>lista de eventos</span>
    </a>
  </section>
</aside>

