<div class="form-stepper-container">
  <!-- Stepper vertical -->
  <div class="stepper">
    <div class="step">
      <div class="circle">1</div>
    </div>
    <div class="line"></div>
    <div class="step">
      <div class="circle">2</div>
    </div>
    <div class="line"></div>
    <div class="step">
      <div class="circle">3</div>
    </div>
  </div>

  <!-- Contenedor del formulario -->
  <div class="form-container">
    <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
      <!-- Paso 1: Selección de sector -->
      <div class="step-content" [ngClass]="{'active-step': currentStep === 1}">
        <h1 style="text-align: center;">Sectores</h1>
        <div class="form-grid">
          <div class="form-fields">
            <select id="idSector" [(ngModel)]="newEvento.idSector" name="idSector" (change)="onSectorChange($event)" required>
              <option value="" disabled selected>Seleccione un sector</option>
              <option *ngFor="let sector of sectores" [value]="sector.idSector">
                {{ sector.nombre }}
              </option>
            </select>

            <input
              type="date"
              id="fecha"
              [(ngModel)]="selectedDate"
              name="fecha"
              required
              (change)="onDateChange()"
              [min]="minDate"
              [max]="maxDate"
            />

            <div *ngIf="horariosDisponibles.length > 0">
              <div class="horarios-container">
                <button
                  type="button"
                  *ngFor="let horario of horariosDisponibles"
                  [disabled]="!horario.disponible"
                  [ngClass]="{'selected': horario === selectedHorario, 'not-available': !horario.disponible}"
                  (click)="selectHorario(horario)">
                  {{ horario.inicio }} - {{ horario.fin }}
                </button>
              </div>
            </div>
          </div>

          <!-- Imagen del sector al lado del formulario -->
          <div class="sector-image-container" *ngIf="selectedSectorImage">
            <img [src]="selectedSectorImage" alt="Imagen del sector seleccionado" />
          </div>
        </div>
      </div>

      <!-- Paso 2: Título, Descripción, Organizador, Estado -->
      <div class="step-content" [ngClass]="{'active-step': currentStep === 2}">
        <h1 style="text-align: center;">Planificar Evento</h1>
        <input id="titulo" [(ngModel)]="newEvento.titulo" name="titulo" placeholder="Título" required />
        <textarea id="descripcion" [(ngModel)]="newEvento.descripcion" name="descripcion" placeholder="Descripción" required></textarea>
        <input id="creator" [(ngModel)]="newEvento.creator" name="creator" placeholder="Organizador" required />
        <div class="checkbox-container">
          <label for="status">Visible</label>
          <input id="status" type="checkbox" [(ngModel)]="newEvento.status" name="status" />
        </div>
      </div>

      <!-- Paso 3: Visualización del Evento -->
      <div class="step-content" [ngClass]="{'active-step': currentStep === 3}">
        <div class="form-grid">
          <!-- Imagen del sector al lado de la tarjeta -->
          <div class="sector-image-container" *ngIf="selectedSectorImage">
            <img [src]="selectedSectorImage" alt="Imagen del sector seleccionado" />
          </div>

          <br>

          <div>
            <div>
              <h3 class="card-title">{{ newEvento.titulo }}</h3>
              <div class="sector-horario">
                <p><strong>Sector:</strong> {{ getSectorNombre(newEvento.idSector) }}</p>
                <p><strong>Horario:</strong> {{ selectedHorario ? (selectedHorario.inicio + ' - ' + selectedHorario.fin) : 'No seleccionado' }}</p>
              </div>
              <p><strong>Descripción:</strong> {{ newEvento.descripcion }}</p>
              <p><strong>Organizador:</strong> {{ newEvento.creator }}</p>
              <p><strong>Visible:</strong> {{ newEvento.status ? 'Sí' : 'No' }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Botones de navegación -->
      <div class="step-navigation">
        <button type="button" (click)="previousStep()" [disabled]="currentStep === 1">Anterior</button>
        <button type="button" (click)="nextStep()" [disabled]="!canProceedToNextStep()">Siguiente</button>
        <button type="submit" [disabled]="eventForm.invalid || currentStep !== 3">Crear Evento</button>
      </div>
    </form>
  </div>
</div>
