<div class="container">
    <h2>Crear nuevo evento</h2>
    <form [formGroup]="eventoForm" (ngSubmit)="createEvento()">
      <div class="form-group">
        <label for="titulo">Título</label>
        <input id="titulo" formControlName="titulo" type="text" class="form-control" placeholder="Ingrese el título del evento" />
      </div>
  
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" formControlName="descripcion" class="form-control" placeholder="Ingrese la descripción del evento"></textarea>
      </div>
  
      <div class="form-group">
        <label for="creator">Creador</label>
        <input id="creator" formControlName="creator" type="text" class="form-control" placeholder="Ingrese el nombre del creador" />
      </div>
  
      <div class="form-group">
        <label for="date">Fecha</label>
        <input id="date" formControlName="date" type="date" class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="idSector">Sector</label>
        <select id="idSector" formControlName="idSector" class="form-control">
          <option *ngFor="let sector of sectores$ | async" [value]="sector.idSector">
            {{ sector.nombre }}
          </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="file">Imagen del sector</label>
        <input id="file" type="file" (change)="onFileChange($event)" class="form-control-file" />
      </div>
  
      <div class="form-group">
        <label for="status">Estado</label>
        <input id="status" formControlName="status" type="checkbox" />
        Activo
      </div>
  
      <button type="submit" [disabled]="eventoForm.invalid || !selectedFile" class="btn btn-primary">
        Crear Evento
      </button>
  
      <div *ngIf="isLoading" class="loading">Creando evento, por favor espera...</div>
    </form>
  
  </div>

<br><br><br>

  
    <!-- Lista de eventos -->
    <h3>Eventos existentes</h3>
    <ng-container *ngIf="eventos$ | async as eventosList; else loading">
      <div *ngFor="let evento of eventosList" class="event-card">
        <h4>{{ evento.titulo }}</h4>
        <p>{{ evento.descripcion }}</p>
        <p><strong>Fecha:</strong> {{ evento.date | date }}</p>
        <p><strong>Creador:</strong> {{ evento.creator }}</p>
        <p><strong>sector:</strong>{{ evento.idSector }}</p>
        <p><strong>Estado:</strong> {{ evento.status ? 'Activo' : 'Inactivo' }}</p>
        <hr />
      </div>
    </ng-container>
  
    <ng-template #loading>
      <p>Cargando eventos...</p>
    </ng-template>
  