<div class="header">
    <h1>SportMatch</h1>
</div>
<br>
<br>
<div class="container">
    <h1>Admin Dashboard</h1>

    <br>
    <br>
    <button mat-raised-button color="primary" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Volver al Menu</span>
    </button>

    <br>
    <br>

    <div *ngIf="(user | async)?.accountType == 'admin'; else notAdmin">
        <p>Usuario Administrador</p>
        <br>
    </div>

    <ng-template #notAdmin>
        <p>Usuario no Administrador</p>
    </ng-template>
</div>

<div class="footer">
    <p>&copy; 2024 SportMatch. Todos los derechos reservados.</p>
</div>
