body {
    margin: 0; /* Eliminar márgenes por defecto */
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna */
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

.header {
    background-color: #616161; /* Fondo gris oscuro para el header */
    color: white; /* Color del texto */
    padding: 10px 0; /* Espaciado en el header */
    text-align: center; /* Centra el texto */
    width: 100%; /* Asegura que use todo el ancho */
    position: fixed; /* Fijo en la parte superior */
    top: 0; /* Posición en la parte superior */
    left: 0; /* Alineación a la izquierda */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.container {
    flex: 1; /* Permite que el contenedor ocupe el espacio restante */
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna */
    justify-content: flex-start; /* Alínea el contenido desde la parte superior */
    align-items: center; /* Centra horizontalmente */
    background-color: #e0e0e0; /* Fondo gris claro */
    height: calc(100% - 60px); /* Resta la altura del header */
}

button {
    margin: 10px 0; /* Espacio entre el botón y otros elementos */
}

mat-list {
    width: 90%; /* Ajusta el ancho del mat-list */
    max-width: 400px; /* Máximo ancho para mantenerlo compacto */
    background-color: #ffffff; /* Fondo blanco para el mat-list */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para el mat-list */
    padding: 16px; /* Espaciado interno */
}

mat-list-item {
    padding: 10px 0; /* Espaciado entre los elementos de la lista */
    border-bottom: 1px solid #e0e0e0; /* Línea divisoria entre elementos */
}

mat-list-item:last-child {
    border-bottom: none; /* Sin línea divisoria en el último elemento */
}

.footer {
    background-color: #616161; /* Fondo gris oscuro para el footer */
    color: white; /* Color del texto */
    padding: 10px 0; /* Espaciado en el footer */
    text-align: center; /* Centra el texto */
    width: 100%; /* Asegura que use todo el ancho */
}
