.login-section {
    text-align: center;
    margin-top: 0px;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
}

mat-card {
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    background-color: #9e9e9e;
    max-width: 400px;
    width: 100%;
}

.error-style {
    color: red;
    margin-top: 10px;
}

.progressIndicator {
    display: flex;
    justify-content: center; /* Asegura que el spinner se centre horizontalmente */
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 100px; /* Ajusta la altura del contenedor para centrar verticalmente si es necesario */
}

.header {
    background-color: #616161;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.footer {
    background-color: #616161;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
