* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye padding y border en el tamaño del elemento */
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.footer {
    background-color: #212121;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
